<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Save</button
          ><button class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-path">Image Url</label>
            <input type="text" id="image-path" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Name</label>
            <textarea
              rows="6"
              type="text"
              id="description"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
